[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	email = 8055265+rpopic2@users.noreply.github.com
	name = rpopic2
[core]
	editor = nvim
	autocrlf = input
    pager = less -r
[init]
	defaultBranch = main
[add.interactive]
	useBuiltin = false # required for git 2.37.0

[merge]
	conflictstyle = diff3
    tool = unityyamlmerge
[mergetool "unityyamlmerge"]
    trustExitCode = false;
    cmd = '/Applications/Unity/Hub/Editor/2022.3.49f1/Unity.app/Contents/Tools/UnityYAMLMerge' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[fetch]
    prune = true
    pruneTags = true

[commit]
    verbose = true

[alias]
    a = add
    ai = add --interactive
    b = branch
    c = commit
    ca = commit -a
    d = diff
    f = fetch
    l = log
    s = status
    sw = switch
    pu = push
    pl = pull
    re = restore
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true

