[credential "https://github.com"]
#	helper = !/usr/bin/gh auth git-credential
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
#	helper = !/usr/bin/gh auth git-credential
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	email = rpopic2@gmail.com
	name = rpopic2
[core]
	editor = nvim
 	pager = delta
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[add.interactive]
	useBuiltin = false # required for git 2.37.0

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
	conflictstyle = diff3
    tool = unityyamlmerge
[mergetool "unityyamlmerge"]
    trustExitCode = false;
    cmd = '/Applications/Unity/Hub/Editor/2021.3.2f1-arm64/Unity.app/Contents/Tools/UnityYAMLMerge' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"


[diff]
	colorMoved = default
[alias]
    a = add
    b = branch
    c = commit
    ca = commit -a
    d = diff
    f = fetch
    l = log
    s = status
    sw = switch
    m = merge
    p = push
    pu = push
    pl = pull
    re = restore
    res = restore --staged
    r = reset
    rs = reset --soft
    rh = reset --hard
    rsh = reset --soft HEAD~1
    rhh = reset --hard HEAD~1
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
